@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  background-color: #f1f1f1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


/* Base Typography Styles */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 1.5rem 0 1rem;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem; /* 40px */
  color: #1a202c; /* Gray-900 */
}

h2 {
  font-size: 2rem; /* 32px */
  color: #2d3748; /* Gray-800 */
}

h3 {
  font-size: 1.75rem; /* 28px */
  color: #4a5568; /* Gray-700 */
}

h4 {
  font-size: 1.5rem; /* 24px */
  color: #4a5568; /* Gray-700 */
}

h5 {
  font-size: 1.25rem; /* 20px */
  color: #4a5568; /* Gray-700 */
}

h6 {
  font-size: 1rem; /* 16px */
  color: #4a5568; /* Gray-700 */
}

p {
  font-size: 1rem; /* 16px */
  color: #4a5568; /* Gray-700 */
  line-height: 1.6;
  margin: 1rem 0;
}

