@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --yes-chef-teal : #90d3d6;
  --yes-chef-teal-light : rgba(175, 234, 237, 0.432);
  --yes-chef-teal-dark : #74acaf;
}

html,
body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* RECIPE CONTENT STYLINGS GENERAL */

.rendered-recipe-content {
  text-align: left;
}

.rendered-recipe-content h1 {
  @apply font-bold text-4xl my-2 underline;
}

.rendered-recipe-content h2 {
  @apply font-bold text-3xl my-2;
}

.rendered-recipe-content h3 {
  @apply font-bold text-2xl my-2;
}

.rendered-recipe-content ul {
  @apply list-disc list-inside;
}

.rendered-recipe-content ol {
  @apply list-decimal list-inside;
}

.rendered-recipe-content li {
  @apply list-item mx-4 my-1;
}

.rendered-recipe-content p {
  @apply text-base text-gray-800 my-3;
}
